.header {
  background-color: #5c6bc0;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 64px;
  height: 64px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.app-title {
  font-size: 1.2rem;
  font-weight: 500;
}
