<div class="bulletin-board" fxLayout="column" fxLayoutAlign="stretch">
  <h1>Bulletin Board</h1>
  <app-categories-list [categories]="categories"></app-categories-list>
  <ng-container *ngIf="announcements.length>0">
    <app-announcements-list [announcements]="announcements"></app-announcements-list>
  </ng-container>
  <ng-container *ngIf="announcements.length<=0">
    <div class="full-width" fxLayout="row" fxLayoutAlign="center center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>
</div>
