@import 'responsive.mixin.scss';

footer {
  background-color: #262626;
  padding: 1rem;
  width: 100%;
  height: 120px;
}

.disclaimer {
  opacity: 0.6;
}

footer {
  @include screen($breakpoint-tablet-portrait) {
    font-size: 80%;
  }
}

a.text-link:link {
  color: #fff;
  text-decoration: none !important;
}

/* visited link */
a.text-link:visited {
  color: #fff;
  text-decoration: none !important;
}

/* mouse over link */
a.text-link:hover {
  color: #fff;
  opacity: 0.8;
  text-decoration: none !important;
}

/* selected link */
a.text-link:active {
  color: #fff;
  opacity: 0.6;
  text-decoration: none !important;
}
