@import 'responsive.mixin.scss';

$default-radius: 6px;

.app-card {
  height: 4rem;
  border-radius: 0 $default-radius $default-radius 0;
}

.app-card-with-info-box {
  border-radius: 0;
}

.feature-card-left-radius {
  border-radius: $default-radius 0 0 $default-radius !important;
}

.feature-card-right-radius {
  border-radius: 0 $default-radius $default-radius 0 !important;
}

.feature-status {
  height: 4rem;
}

.feature-status-info {
  background-color: #5d77a2;
}

.feature-status-public {
  background-color: #1c2431;
}

.feature-status-private {
  background-color: #262626;
}

.feature-status-private-authenticated {
  background-color: #2f3c51;
}

.feature-status-signed-out {
  background-color: #1c2431;
}

.feature-status-signed-in {
  background-color: #66bb6a;
}

a:hover {
  opacity: 0.8;
}

.app-card-title {
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: 500;
  text-align: left;
}

.info-link {
  border-radius: 0;
}

.list-item-row {
  width: 24rem;
  border: 1px solid #30363d;
  border-radius: $default-radius;
  background-color: #30363d;

  @include screen($breakpoint-desktop) {
    width: 90vw;
  }
}
