.app-card:hover {
  opacity: 0.8;
}

a:link {
  color: #fff;
  text-decoration: none !important;
}

/* visited link */
a:visited {
  color: #fff;
  text-decoration: none !important;
}

/* mouse over link */
a:hover {
  color: #fff;
  text-decoration: none !important;
}

/* selected link */
a:active {
  color: #fff;
  text-decoration: none !important;
}
