@import '~@angular/material/theming';

@include mat-core();

$openapps-primary: mat-palette($mat-indigo);
$openapps-accent: mat-palette($mat-blue, A200, A100, A400);
$openapps-warn: mat-palette($mat-red);

$openapps-theme: mat-dark-theme((
  color: (
    primary: $openapps-primary,
    accent: $openapps-accent,
    warn: $openapps-warn,
  )
));

@include angular-material-theme($openapps-theme);
@import 'responsive.mixin.scss';


html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

$header-height: 64px;
$header-background: #546e7a;
$footer-height: 120px;
$footer-background: #262626;
$spacer-height: 16px;

.app-view {
  margin-top: $header-height + $spacer-height;
  padding: 1rem;
}

header {
  background-color: $header-background;
  position: fixed;
  left: 0;
  top: 0;
  height: $header-height;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

footer {
  background-color: $footer-background;
  padding: 1rem;
  width: 100%;
  height: $footer-height;
}

.full-width {
  width: 100%;
}

a.link-no-style:link {
  color: #fff;
  text-decoration: none !important;
}

/* visited link */
a.link-no-style:visited {
  color: #fff;
  text-decoration: none !important;
}

/* mouse over link */
a.link-no-style:hover {
  color: #fff;
  text-decoration: none !important;
}

/* selected link */
a.link-no-style:active {
  color: #fff;
  text-decoration: none !important;
}
