.header {
  background-color: #546e7a;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 64px;
  height: 64px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.nav-bar {
  padding: 1rem;
}

.app-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-active {
  background-color: #333;
}

.app-button {
  padding: 1rem 2rem !important;
  border-radius: 0;
}
