.nav-bar {
  padding: 1rem;
}

.app-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.btn-active {
  background-color: #5d77a2;
}

.app-button {
  padding: 1rem 2rem !important;
  border-radius: 0;
}

