<header
  fxLayout="row"
  fxLayoutAlign="space-between"
  fxLayoutAlign.lt-lg="center center">
  <button class="app-button link-no-style" mat-button routerLink="/" fxLayout="row" fxLayoutAlign="center center">
    <div class="app-title">
      <fa-icon [icon]="faAppIcon"></fa-icon>&nbsp;OpenApps
    </div>
  </button>
  <div fxHide.lt-lg="true" fxFlex="grow" class="nav-bar" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayout="start center">
      <a routerLink="/announcements" routerLinkActive="btn-active" mat-button>
        <fa-icon [icon]="faAnnouncements"></fa-icon>&nbsp;Ανακοινώσεις
      </a>
      <a routerLink="/users" routerLinkActive="btn-active" mat-button>
        <fa-icon [icon]="faUsers"></fa-icon>&nbsp;Αναζήτηση Χρηστών
      </a>
    </div>

    <div>
      <a routerLink="/signin" mat-button>
        <fa-icon [icon]="faSignIn"></fa-icon>&nbsp;Είσοδος
      </a>
    </div>
  </div>

  <div fxShow.lt-lg="true">
    &nbsp;
  </div>
</header>
